<!DOCTYPE html>
<html>
<head>
	<title>Shop For Stationary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/Stationary_Shop.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- 
     <link rel="stylesheet" href="css/bootstrap.css">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
     	<!-- <script src="stationary.js"></script> -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	  <!-- **********************************Header******************************************** -->
	<div class="cro">
	<img src="{{ url_for('static', filename='images/redi.png') }}"/>	
	</div>
	<div class="header">
		<div class="upper"></div>
		<div class="mid">
			<div class="left">
				<div class="img"><img src="{{ url_for('static', filename='images/logo.png') }}"/></div>
				<div class="label"><h1>Stationary Shop</h1></div>
			</div>
			<div class="right">
				<div class="myaccount">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					<button data-target="#myModal" data-toggle="modal">My Account</button>
				</div>
				<div class="addtocart">
					<i class="fa fa-shopping-cart"></i>
					<label>Add to Cart</label>
				</div>
			</div>

		</div>
		<div class="low">
			<div class="lefthead">
				<a href="/home">Home</a>
				<a href="/Catogary">Catogaries</a>
				<a href="/about">About</a>
				<a href="#" data-target="#myModal2" data-toggle="modal">Contact</a> <!-- modal link -->
        <a href="/shop">Shop</a>
			</div>
			<div class="righthead">
				<input type="text" placeholder="Search...">
				<button type="submit" class="searchButton">
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>
<!-- modal of contact us -->
<div class="modal " id="myModal2" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header ">
          <h4 class="modal-title "><b>Contact Us</b></h4>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
            <span> <a href="tel:918920975077"><i class="fa fa-phone"></i> Mobile : +918920975077</a></span><br>
            <span><a href="mailto:sushmitaray89@gmail.com"><i class="fa fa-envelope"></i> Email : sushmitaray89@gmail.com</a></span><br>
            <span><a href="https://maps.google.com/maps?q=D-137,sanjay colony,Narela, NewDelhi, India"><i class="fa fa-map-marker" aria-hidden="true"></i> D-137,sanjay colony,Narela, NewDelhi, India</a></span><br>
            <span><a href="https://github.com/Sushmitaray"><i class="fa fa-github" aria-hidden="true"></i> Github : Sushmita Ray</a></span><br>
            <span><a href="https://www.linkedin.com/in/sushmita-ray-46182a184/"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin : Sushmita ray</a></span><br>
            <span><a href="https://www.instagram.com/kshetriya_/" ><i class="fa fa-instagram" aria-hidden="true"></i> Istagram : ksteriya_</a></span><br>
            <span><a href="https://twitter.com/sushmitaray49" ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter : sushmitaray49</a></span>
        </div>
	    </div>
    </div>
  </div>
<!-- *********************************end header************************* -->
{% block body %} {% endblock %}
<!-- <div class="container">

  <-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h4 class="modal-title ">Create an Account</h4>
          	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
      		</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form>
          	<div class="form-group">
          		<label><i class="fa fa-user fa-2x"></i><b> Username: </b></label>
          		<input type="text" name="" class="form-control">
          	</div>
          	<div class="form-group">
          		<label data-error="wrong" data-success="right" for="defaultForm-email">
          			<i class="fa fa-envelope fa-2x"></i><b> Email: </b></label>
          		<input type="email" name="" class="form-control">
          	</div>
          	<div class="form-group">
          		<label data-error="wrong" data-success="right" for="defaultForm-pass">
          			<i class="fa fa-lock fa-2x"></i> <b>Password: </b></label>
          		<input type="password" id="defaultForm-pass" name="" class="form-control">
          	</div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Sign Up</button>
        </div>
        <div class="col-md-12">
              <p class="font-small white-text d-flex justify-content-end">Have an account? <button class="btn btn-outline-danger waves-effect" data-target="#myModal1" data-toggle="modal" data-dismiss="modal">  Log in</button></p>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<div class="container1">

  <!-- The Modal -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h4 class="modal-title ">Log In</h4>
          	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
      		</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form>
          	<div class="form-group">
          		<label data-error="wrong" data-success="right" for="defaultForm-email">
          			<i class="fa fa-envelope fa-2x"></i><b> Email: </b></label>
          		<input type="email" name="" class="form-control">
          	</div>
          	<div class="form-group">
          		<label data-error="wrong" data-success="right" for="defaultForm-pass">
          			<i class="fa fa-lock fa-2x"></i> <b>Password: </b></label>
          		<input type="password" id="defaultForm-pass" name="" class="form-control">
          	</div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Log in</button>
        </div>
        <div class="col-md-12">
              <p class="font-small white-text d-flex justify-content-end">Not registered? <button class="btn btn-outline-danger waves-effect" data-target="#myModal" data-toggle="modal" data-dismiss="modal">  Sign Up</button></p>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="footer">
    <div class="contact">
      <p><b>Contact Us</b></p></div>
      <div class="names">
      <div class ="komal">
        <h1>Komal pal</h1>
        <span><a href="https://github.com/komal3120"><i class="fa fa-github" aria-hidden="true"></i></a></span>
          <span><a href="linkedin.com/in/komal-pal-6527b61a5/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span><a href="#" ><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                <span><a href="mailto:komalpal0000@gmail.com" ><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
      </div>
      <center class="simran">
        <h1>Simran Singh</h1>
        <span><a href="https://github.com/ishvik"><i class="fa fa-github" aria-hidden="true"></i></a></span>
        <span><a href="https://www.linkedin.com/in/simran-singh-92894b1a1/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span><a href="https://www.instagram.com/ishvik_20/?hl=en" ><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                <span><a href="mailto:singh.simran9654@gmail.com" ><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
      </center>
      <div class="ray">
        <h1>Sushmita Ray</h1>
        <span><a href="https://github.com/Sushmitaray"><i class="fa fa-github" aria-hidden="true"></i></a></span>
        <span><a href="https://www.linkedin.com/in/sushmita-ray-46182a184/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span><a href="https://www.instagram.com/sushmita_ray64/?hl=en" ><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                <span><a href="mailto:sushmitaray89@gmail.com" ><i class="fa fa-envelope" aria-hidden="true"></i></a></span>
      </div>
    </div>
        
    <div class="about">
      <p><b>About Us</b><br>Here is online shopping for stationary related products and here is also buying and selling books new and old , you can purchase like Pencils , Erasers , Color Pencils , Colors , Notebooks , Mobiles , Laptops , Headphones.<i>Founder : Simran Singh , Komal Pal , Sushmita Ray</i> </p>
    </div>
  </div>

</body>
</html>
