*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
}

/**************************header***********************/

.header{
	background-color: white;
	height: 28.5%;
	width: 100%;
	position: fixed;
	z-index: 999;
}

.upper{
	height: 20px;
	position: fixed;
	width: 100%;
	background-color: rgb(84,62,89);
}

.mid{
	height: 110px;
	width: 100%;
	/*margin-top: 2%;*/
	left: 0px;
  	margin-top: 20px;
	z-index: 999;
	position: fixed;
	background-color: rgb(189,122,146);
	border-left: 8px solid white;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	border-right: 8px solid white;
}

.mid .left{
	float: left;
	width: 45%;
	height: 100%;
	padding: 0px;
}

.mid .left .label{
	float: right;
	width: 50%;
	height: 100%;
	text-align: center; 
	padding-top: 20px;
	/*padding: 0px 10px 10px 10px;*/
}

.mid .left .label h1{
	width: 100%;
	font-size: 45px;
	font-style: italic;
}


.mid .left .img{
	float: left;
	width: 15%;
	height: 100%;
	margin-left: 30%;
}

.mid .left .img img{
	height: 100%;
	width: 100%;
}

.mid .right{
	float: right;
	width: 35%;
	height: 100%;
}

.mid .right .myaccount{
	float: left;
	height: 100%;
	padding-top: 20px;
	width: 40%;
}

.mid .right .myaccount i{
	width: 100%;
	font-size: 30px;
	padding-left: 60px;
	float: left;
}

.mid .right .myaccount button{
	margin-top: 5%;
	font-weight: bold;
	font-style: italic;
	background: transparent;
	border: none;
	font-size: 25px;
	padding-left: 20px;
}

.mid .right .addtocart{
	float: right;
	margin-right: 16%;
	height: 100%;
	padding-top: 20px;
	width: 40%;
}

.mid .right .addtocart i{
	width: 100%;
	font-size: 30px;
	padding-left: 60px;
	float: left;
}

.mid .right .addtocart label{
	margin-top: 5%;
	font-weight: bold;
	font-style: italic;
	font-size: 25px;
	padding-left: 20px;
}

.low{
	height: 80px;
	width: 100%;
	z-index: 999;
	left: 0px;
  	margin-top: 130px;
	position: fixed;
	background-color: rgb(48,25,52);
}

.low .lefthead{
	width: 50%;
	height: 100%;
	float: left;
	margin-left: 120px;
	padding-left: 100px;
  	padding-top: 24px;
  	word-spacing: 50px;
}

.low .lefthead a{
	font-size: 18px;	
	font-weight: bold;
	line-height: 25px;
    border-radius: 4px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.low a:hover{
	background-color: rgb(84,62,89);
	font-size: 25px;
}

.low .righthead{
	width: 30%;
	height: 100%;
	float: right;
	padding-top: 12px;
}

.low .righthead input[type=text]{
	float: left;
  	margin-top: 8px;
  	height: 36px;
  	width: 80%;
  	font-size: 17px;
  	text-align: center;

}

.low .righthead button{
	float: left;
	margin-top: 8px;
	height: 36px;
	
	font-size: 25px;
	background: gray;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

/*footer section*/
.footer{
	
    height: 60%;
   
    width: 100%;
    background-color: black;
    margin-top: 450px;
    position: relative;

}
 .contact {
 	width: 100%;
	text-align: center;
	color: white;
	font-size: 20px;
	padding-top: 20px;

}
.contact p{
	color: white;
	font-size: 45px;

}
.footer .names{
	width: 100%;
	margin-top: 30px;

}

.komal{
	width: 33.3%;
	color: white;
	font-size: 15px;
	 border:  solid black;

	float: left;
	text-align: center;

}
.komal h1 {
	font-size: 30px;
}
.komal span{
	 display: inline-block;
    margin-bottom: 29px;
    vertical-align: middle;
    margin-top: 30px;
}
.komal a:hover {
  	color: rgb(84,62,89);
}
 .komal  a {
	font-size: 20px;
	margin-left: 10px;
    background:rgb(189,122,146) ;
  color: white;
  padding: 10px;
  width: 40px;
   text-align: center;
  text-decoration: none;

}
.simran{
	width: 33.4%;
	color: white;
	font-size: 15px;
    float: center;
	margin-left: 33.3%;
		 border:  solid black;

}
.simran h1 {
	font-size: 30px;
}
.simran span{
	 display: inline-block;
    margin-bottom: 29px;
    vertical-align: middle;
    margin-top: 30px;
}
.simran a:hover {
  	color: rgb(84,62,89);
}

.simran  a{
	font-size: 20px;
	margin-left: 10px;
	 background:rgb(189,122,146) ;
  color: white;
  padding: 10px;
  width: 40px;
   text-align: center;
  text-decoration: none;
}
.ray {
	width: 33.3%;
	color: white;
	margin-top: -8.56rem;
	font-size: 15px;
    border:  solid black;
	float: right;
	text-align: center;
	padding: 14.8px;
	padding-top: 0px;
	padding-bottom: 29.5px;

}
.ray h1 {
	font-size: 29.5px;
}

.ray a:hover {
  	color: rgb(84,62,89);
}

.ray span{
	 display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}
.ray a{
	font-size: 20px;
    margin-left: 10px;
    background:rgb(189,122,146) ;
  color: white;
  padding: 10px;
  width: 40px;
   text-align: center;
  text-decoration: none;

}

.about {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top: 3%;
	/*float: left;*/
}
.about p b {
	font-size: 50px;

}
.about p {
	font-size: 25px;
	text-align: center;
	/*float: center;*/
	/*margin-left: 13px;*/
}
.about p i {
	font-size: 25px;
	/*text-align: center;*/
	float: right;
	margin-right: 13px;
	padding-top: 40px;
}
 /*end*/ 
 /*Image Slider*/
.mySlides 
{
  display: none;
  width: 98%;
  height: 480px;

}
.mySlides img 
{
  vertical-align: middle;
  width: 100%;
  height: 100%;

}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: absolute;
  margin-top: 220px;
  justify-content: center;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  /*margin: 0 2px;*/
  margin-top: 700px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.9s;
  animation-name: fade;
  animation-duration: 1.9s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

 /*end*/